{% extends 'base.html' %}
{% block title %}About Us{% endblock %}

{% block content %}

<div class="about">
    <h1>About Us</h1>
</div>
<div class="about-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad fugiat impedit obcaecati provident rem reprehenderit
        sint unde vitae! Accusamus ad amet dignissimos ea error harum labore non, odit quaerat ratione!</p>
</div>

<div class="sm">
    <footer>
        <a href="#"><span class="fa fa-github"></span></a>
        <a href="#" style="padding-left: 25px;"><span class="fa fa-facebook"></span></a>
        <a href="#" style="padding-left: 25px;"><span class="fa fa-twitter"></span></a>
        <a href="#" style="padding-left: 25px;"><span class="fa fa-instagram"></span></a>
        <a href="#" style="padding-left: 25px;"><span class="fa fa-envelope"></span></a>
    </footer>
</div>


{% endblock %}